

.center{
	text-align: center;
}


.main-title{
	margin-top: 40px;
}

#about{
	padding-top: 40px;
	padding-bottom: 40px;
	background: #444;
	color: white;
}

#about img{
	width: 25%;
	margin-top: 1%;
}

#faq{
	padding-top: 40px;
	background: #FFB6C1;
}

#generate{
	padding-top: 40px;
	padding-bottom: 20px;
}




#generate .alert{
	font-size: xx-large;
	color: blue;
}
#home{
	padding-top: 40px;
	height: 100%;
	background: #FFB6C1;
	padding-bottom: 20px;
}

#home img{
	width: 40%;
	margin-left: 30%;
}

#home h3 {
	color: #FFB6C1;
	margin-bottom: 20px;
}